# Go
bin/
*.exe
*.out
*.test
coverage.*

# Build artifacts
dist/
tmp/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Docker
**/.dockerignore
node_modules/

# Environments / secrets
*.env
.env*
infra/docker/.env
secrets/

# Logs
logs/
*.log

/minio-data/

.terraform
*.tfvars
